{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <h1>Data of Interest/h1>
                <table class="table table-striped" id="navigation">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Link</th>
                        <th>StDev</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in doi %}
                    <tr>
                        <td>{{item.id}}</td>
                        <td><a href="/graph/js?from={{ item.starttimestamp }}%26to={{item.endtimestamp}}">Link</a></td>
                        <td>{{item.stdev}}</td>
                        <td>{{ item.starttimestamp }}</td>

                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}