<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS Charts</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
</head>
<body>

    <div id="container" style="height: 650px; min-width: 310px"></div>
    <script>

        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        function drawGraph(data) {
            // Create the chart
            window.chart = new Highcharts.StockChart({
                chart : {
                    renderTo : 'container'
                },

                rangeSelector: {
                    selected: 1,
                    buttons: [{
                            type: 'minute',
                            count: 1,
                            text: '1min'
                        }, {
                            type: 'minute',
                            count: 5,
                            text: '5min'
                        }, {
                            type: 'minute',
                            count: 10,
                            text: '10min'
                        }, {
                            type: 'hour',
                            count: 1,
                            text: '1h'
                        }, {
                            type: 'all',
                            text: 'All'
                    }],
                    inputEnabled: true,
                    inputDateFormat: '%Y-%m-%d %H:%M:%S',
                    inputEditDateFormat: '%Y-%m-%d %H:%M:%S',
                    inputDateParser: function (value) {
                        value = value.split(/[-: ]/);
                        Y = parseInt(value[0]);
                        M = parseInt(value[1])-1;
                        D = parseInt(value[2]);
                        h = parseInt(value[3]);
                        min = parseInt(value[4]);
                        sec = parseInt(value[5]);
                        newdate = Date.UTC(Y, M, D, h, min, sec);
                        return newdate;
                    },
                    inputBoxWidth: 180
                },

                legend: {
                    enabled: true
                },

                scrollbar : {
                    minWidth: 1
                },

                title : {
                    text : 'Sensor data'
                },

                yAxis: {
                    opposite: false,
                    labels: {
                        format: '{value} g',
                        align: "right"
                    }
                },

                xAxis: {
                    ordinal: false
                },

                series : [{
                        name : '{{ sensorname[0] }}',
                        data : data[0],
                        type: 'line',
                        tooltip: {
                            valueDecimals: 3
                    }
                    },
                    {
                        name : '{{ sensorname[1] }}',
                        data : data[1],
                        type: 'line',
                        tooltip: {
                            valueDecimals: 3
                        }
                    },
                    {
                        name : '{{ sensorname[2] }}',
                        data : data[2],
                        type: 'line',
                        tooltip: {
                            valueDecimals: 3
                        }
                }]
            });
        };



        drawGraph({{ sensordata|safe }})

        var default_dates = window.chart.xAxis[0].getExtremes();

        var from_date = window.chart.rangeSelector.options.inputDateParser('{{ request.args.get('from') }}'); //new Date('');
        if (isNaN( from_date.getTime() )) {
            from_date = new Date(default_dates.min);
        }
        var to_date = window.chart.rangeSelector.options.inputDateParser('{{ request.args.get('to') }}'); // new Date('');
        if (isNaN( to_date.getTime() )) {
            to_date = new Date(default_dates.max);
        }
        window.chart.xAxis[0].setExtremes(from_date, to_date);

    </script>


</body>
</html>