<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS Charts</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
</head>
<body>

    <div id="container" style="height: 400px; min-width: 310px"></div>
    <script>
        function drawGraph(data) {
            // Create the chart
            $('#container').highcharts('StockChart', {


                rangeSelector : {
                    selected : 1
                },

                title : {
                    text : 'Sensor data'
                },

                series : [{
                    name : '{{ sensorname[0] }}',
                    data : data[0],
                    type: 'spline',
                    tooltip: {
                        valueDecimals: 3
                    }
                },
                {
                    name : '{{ sensorname[1] }}',
                    data : data[1],
                    type: 'spline',
                    tooltip: {
                        valueDecimals: 3
                    }
                },
                {
                    name : '{{ sensorname[2] }}',
                    data : data[2],
                    type: 'spline',
                    tooltip: {
                        valueDecimals: 3
                    }
                }]
            });
        };



        drawGraph({{ sensordata|safe }})

    </script>


</body>
</html>